@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Search Bar */
.input-group-sm input[type="text"] {
    background-color: #fafafa;
    font-family:  FontAwesome;
}
.input-group-sm input[type="text"]:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
    outline: none !important;
}

/* Header Right Bar */
.mt-header-right > a {
    text-decoration: none;
    color:#000;
    justify-content: center;
    align-items: center;
    display: flex;
}
.mt-header-right > a > ion-icon ,
.mt-header-right > div > input   {
    font-size: 26px;
    margin-right:3px;
    margin-left:3px;
    padding:2px;
    border: 1px solid #fff;
    border-radius: 100px;
}
/* Header User İmage */
input[type="image"]:focus {
    outline: none !important;
}

/* Clean Button Style */
.mt-header-right .dropdown,
.mt-header-right .dropdown > button {
    justify-content: center;
    align-items: center;
    display: flex;
}
.mt-header-right .dropdown > button {
    background-color: #fff;
    outline: none !important;
    border: none !important;
    font-size: 26px;
}
/*  Dont look this area */
.mt-header-right > div > div > a  {
    font-size: 16px;
    justify-content:flex-start;
    padding:10px 20px ;
    align-items: center;
    display: flex;
}
.mt-header-right > div > div > a:active {
    color:#000 !important;
    background-color:#fff !important;
}
.mt-header-right > div > div > a > ion-icon {
    padding-right: 5px ;
    font-size:20px;
}
.mt-header-right .dropdown-divider {
    border-top: 2px solid #e9ecef;
}

/*  heart-page   */
.h-main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 0;
    width:500px;
    max-height: 362px;
    min-height: 100px;
    overflow-y: auto;
    background-color:#fff !important;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0,0.5);
    border-radius:3px;
}
.heart-page  .heart-item {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}
.h-goto-page {
    border: 0 !important;
    outline: 0 !important;
    background-color:#fff !important;
}
.h-rounded-item {
    display: flex;
    justify-content:center;
    align-items: center;
    color:#fff;
    height: 40px;
    width : 40px;
    border-radius:50%;
}
.h-rounded-item.h-bg-red {
    background-color:#ed4956;
}
.h-text-item {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
}
.h-text-item p {
    font-size: 15px;
    font-weight: 500;
    margin: 0px !important;
}
.h-text-item sup {
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
    color:#404044;
}
.h-text-item sup > span {
    font-weight: 600;
    color: #00376b;
}
.h-right-area ion-icon {
    opacity: 0.7;
    margin-top:10px;
}

.h-right-area button {
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #dfdfdf;
    background-color: #fff !important;
}
.modal-dialog {
    display: flex;
    justify-content:center;
    align-items: center;
}
.modal-content {
    border-radius: 12px;
    width:400px !important;
    overflow: hidden;
}
.modal-body {
    padding: 0px !important;
}
.modal-body > div > img {
    margin: 20px ;
}
.h-modal-footer > button  {
    padding:10px;
    background-color:#fff !important;
    border: 0px !important;
    outline: 0 !important;
    border-top: 1px solid #dfdfdf !important;
}
.h-modal-footer > button:first-child {
    color:red;
    font-weight: 600;
}
.h-modal-footer > button:last-child {
    margin:0px;
}
/*  heart-page */


/* Home Page */
.hp-r-top {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing:0px;
}
.hp-r-top > div > div {
    color:#262626;
    font-size: 13px;
    font-weight: 600
}
.hp-r-top > div > span {
    color:#929292;
    font-size: 11px;
    font-weight: 400;
}
.hp-r-center {
    font-family: 'Poppins', sans-serif !important;
}
.hp-r-center > div span {
    color:#929292;
    font-size: 14px;
}
.hp-r-center > div a {
    color:#262626;
    font-size: 12px;
    font-weight: 500
}
.hp-r-center > div a:hover {
    text-decoration:none;
}
/* Home Page */
